<div class="px-6">
	<ul class="flex flex-col sm:flex-row lg:flex-col gap-2 w-full">
		<li
			*ngFor="let route of routes.slice(0, routes.length - 2)"
			[routerLink]="'countries/' + route.path"
			[routerLinkActive]="'routeActive'"
			[routerLinkActiveOptions]="{ exact: true }"
			class="rounded-[100px] border border-solid border-[#6e59f1] text-[#6e59f1] cursor-pointer px-4 py-2 flex justify-center items-center"
		>
			<span>{{ route.path!.split('-').join(' ') | titlecase }}</span>
		</li>
	</ul>
</div>
