<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<div class="flex flex-col gap-y-4">
	<div class="flex flex-wrap justify-center gap-2">
		<button
			*ngFor="let region of regions"
			class="px-5 py-1 bg-white text-[#6e59f1] border border-solid border-[#6e59f1] rounded-[100px]"
			[ngClass]="{
				'bg-[#6e59f1] text-white font-bold': selectedRegion === region,
			}"
			(click)="searchByRegion(region)"
		>
			{{ region }}
		</button>
	</div>
	<countries-table [countries]="countries"></countries-table>
</div>
