<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<div class="flex flex-col gap-y-4 mt-8">
	<div class="flex gap-x-2">
		<button
			*ngFor="let region of regions"
			class="px-5 py-1 bg-white text-gray-700 border border-solid border-gray-700 rounded-[100px]"
			[ngClass]="{
				'bg-gray-700': selectedRegion === region,
				'text-white': selectedRegion === region,
			}"
			(click)="searchByRegion(region)"
		>
			{{ region }}
		</button>
	</div>
	<countries-table [countries]="countries"></countries-table>
</div>
