<div
	*ngIf="countries.length === 0; else countryTable"
	class="flex justify-center items-center"
>
	<span>No se han encontrado los países</span>
</div>
<ng-template #countryTable>
	<div class="relative overflow-auto max-w-[750px] w-full px-6 max-h-[550px]">
		<table class="w-full text-sm text-left rtl:text-right sm:table-fixed">
			<thead class="text-xs text-white uppercase bg-[#6e59f1]">
				<tr>
					<th
						scope="col"
						class="py-3 px-6"
					>
						#
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						Icono
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						Bandera
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						Nombre
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						Capital
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						Población
					</th>
					<th
						scope="col"
						class="py-3 px-6"
					>
						+
					</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let country of countries; let i = index"
					class="bg-white border-b border-solid border-[#6e59f1] text-[#6e59f1]"
				>
					<td class="py-4 px-6">{{ i + 1 }}</td>
					<td class="py-4 px-6">{{ country.flag }}</td>
					<td class="py-4 px-6">
						<img
							[src]="country.flags.svg"
							[alt]="country.name.common"
						/>
					</td>
					<td class="py-4 px-6">{{ country.name.common }}</td>
					<td class="py-4 px-6">{{ country.capital }}</td>
					<td class="py-4 px-6">{{ country.population }}</td>
					<td class="py-4 px-6">
						<a [routerLink]="['/countries/by', country.cca3]"
							>Info</a
						>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
