@import url(./reset.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.generalBoxShadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
